<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">
<div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}">Mare mie thon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
        <a class="nav-link{% if app.request.attributes.get('_route') == 'app_home' %} active{% endif %}" href="{{ path('app_home') }}">Home
            <span class="visually-hidden">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link{% if app.request.attributes.get('_route') == 'app_ingredient' %} active{% endif %}" href="{{ path('app_ingredient') }}">Ingredients
            <span class="visually-hidden">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link{% if app.request.attributes.get('_route') == 'app_recipe' %} active{% endif %}" href="{{ path('app_recipe') }}">Recipes
            <span class="visually-hidden">(current)</span>
        </a>
        </li>
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'app_user_edit' %} active{% endif %}" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'app_login' %} active{% endif %}" href="{{ path('app_login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if app.request.attributes.get('_route') == 'app_register' %} active{% endif %}" href="{{ path('app_register') }}">Register</a>
            </li>
        {% endif %}
    </ul>
    <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</div>
</nav>